/* -------------------------variables-------------------------*/
/* -------------------------fin variables-------------------------*/
/* -------------------------mixin-------------------------*/
/* -------------------------fin mixin-------------------------*/
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body > *:not(.map):not(footer) {
  padding: 0 10%;
}
body * {
  z-index: 3;
}
body > div {
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

hr {
  background-color: #a5a5a5;
  border: none;
  height: 2px;
  margin: 30px 0;
  position: relative;
}

header {
  background: url("../img/background1-1.jpg") no-repeat center;
  color: white;
  background-size: cover;
  height: 750px;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 73, 94, 0.7);
}

#header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 75px 0 100px 0;
}
#header-menu img {
  margin-left: 75px;
}
#header-menu nav ul {
  display: flex;
}
#header-menu nav ul li {
  list-style-type: none;
  margin-right: 30px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

#header-title {
  text-align: center;
  text-transform: uppercase;
}
#header-title h2 {
  font-weight: 100;
}

#learn-more {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
#learn-more button {
  background-color: #f39c12;
  border: none;
  padding: 8px 25px;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.title-section {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  width: 85%;
  margin: auto;
  padding-top: 50px;
}
.title-section h3 {
  text-transform: uppercase;
  margin-right: 20px;
}
.title-section p {
  border-left: solid 3px #f39c12;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 15px;
}

#our-story {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
#our-story-desc {
  width: 47%;
  display: flex;
}
#our-story-desc-img {
  margin-right: 7%;
}
#our-story-desc-text h4 {
  text-transform: uppercase;
  font-size: 20px;
}
#our-story-desc-text #important-text {
  color: red;
  font-size: 17px;
}
#our-story-desc-text p {
  font-size: 17px;
}
#our-story-img {
  width: 47%;
}
#our-story-img img {
  width: 100%;
  max-height: 80%;
  object-fit: cover;
}

#our-skills {
  display: flex;
  align-items: center;
  margin: 10% 0 0 0;
  padding-bottom: 50px;
}
#our-skills-desc {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
#our-skills-desc img {
  margin: 0 35px 0 80px;
}
#our-skills-desc-text h4 {
  text-transform: uppercase;
}

.our-skills {
  width: 45%;
}
.our-skills-container {
  margin-left: 80px;
}
.our-skills-container h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
  margin-top: 40px;
}
.our-skills-container span {
  color: #a5a5a5;
}
.our-skills-container-bars {
  background-color: #a5a5a5;
  width: 100%;
  height: 10px;
}
.our-skills-container-bars-bar1 {
  background-color: #f39c12;
  width: 88%;
  height: 10px;
}
.our-skills-container-bars-bar2 {
  background-color: #f39c12;
  width: 76%;
  height: 10px;
}
.our-skills-container-bars-bar3 {
  background-color: #f39c12;
  width: 81%;
  height: 10px;
}
.our-skills-container-bars-bar4 {
  background-color: #f39c12;
  width: 71%;
  height: 10px;
}

.section-quote {
  background: url(../img/background1-2.jpg) no-repeat center;
  background-size: cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-quote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.section-quote h2 {
  width: 50%;
  text-align: center;
  color: white;
}
.section-quote hr {
  width: 3%;
  background: orange;
  margin: 30px 0 10px 0;
}
.section-quote h4 {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.company-employee .team-profiles {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.company-employee .team-profiles .profile:not(:last-child) {
  margin-right: 35px;
}
.company-employee .team-profiles .profile {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 15px 10px;
  cursor: pointer;
  border-top: solid 3px transparent;
}
.company-employee .team-profiles .profile .profile-avatar {
  width: 75%;
  margin: auto;
}
.company-employee .team-profiles .profile h5 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}
.company-employee .team-profiles .profile .profile-function {
  text-align: center;
  margin: 2px 0;
  font-size: 13px;
  color: #999999;
}
.company-employee .team-profiles .profile hr {
  margin: 5px auto;
  width: 20px;
  height: 3px;
}
.company-employee .team-profiles .profile .profile-desc {
  font-size: 14px;
  color: #999999;
  text-align: center;
  margin: 0 0 10px 0;
}
.company-employee .team-profiles .profile .social-media-container {
  display: flex;
  justify-content: space-evenly;
}
.company-employee .team-profiles .profile .social-media-container img {
  height: 13px;
}
.company-employee .team-profiles .profile:hover {
  background-color: #F0F0F0;
  border-top: solid 3px #f39c12;
}
.company-employee .team-profiles .profile:hover hr {
  background-color: red;
}

.info {
  background: url(../img/background1-2.jpg) no-repeat center;
  display: flex;
  justify-content: space-evenly;
  background-size: cover;
  min-height: 400px;
  align-items: center;
}
.info-spot {
  color: white;
  text-align: center;
}
.info-spot h3 {
  font-size: 30px;
  text-transform: uppercase;
}
.info-spot p {
  font-weight: 600;
  margin: 0;
}

.activities {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
.activities-bloc {
  text-align: center;
  width: 30%;
}
.activities-bloc h4 {
  margin: 15px 0;
  text-transform: uppercase;
}
.activities-bloc p {
  font-size: 15px;
  color: #a5a5a5;
}

.packege-article {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
.packege-article .packege-pricing {
  width: 40%;
}
.packege-article .packege-pricing h4 {
  text-transform: uppercase;
  margin: 25px 0;
}
.packege-article .table-container table {
  border-collapse: collapse;
}
.packege-article .table-container tbody tr:nth-child(odd), .packege-article .table-container tfoot tr:nth-child(odd) {
  background-color: #dddddd;
}
.packege-article .table-container th {
  border: solid 1px #a5a5a5;
  text-transform: uppercase;
}
.packege-article .table-container th h5 {
  font-size: 17px;
  margin: 15px 0 7px 0;
}
.packege-article .table-container th p {
  margin: 7px 0 15px 0;
}
.packege-article .table-container th .orange-border {
  width: 30px;
  height: 2px;
  background-color: #f39c12;
  margin: auto;
}
.packege-article .table-container td {
  border: solid 1px #a5a5a5;
  text-align: center;
  padding: 15px 25px;
  color: #999999;
}
.packege-article .table-container td .purchase-button {
  border: solid 2px #f39c12;
  padding: 8px 25px;
  color: black;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.packege-article .table-container td .purchase-button:hover {
  background-color: #f39c12;
  border: none;
  color: white;
}

.maria-jones {
  background: url(../img/background1-2.jpg) no-repeat center;
  background-size: cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.maria-jones h4 {
  text-transform: uppercase;
}
.maria-jones hr {
  margin: 15px 0 30px 0;
  width: 30px;
  background-color: #f39c12;
}
.maria-jones p {
  text-align: center;
  font-style: italic;
  width: 60%;
}

.portfolio-art1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 75px;
}
.portfolio-art1-img {
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.portfolio-art1-img img {
  width: 100%;
}
.portfolio-art1-buttons {
  margin: 20px 0;
}
.portfolio-art1-buttons .portfo-button {
  border: solid 1px #a5a5a5;
  font-weight: 700;
  font-size: 18px;
}
.portfolio-art1-titre {
  text-align: center;
}
.portfolio-art1-titre h3 {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}
.portfolio-art1-titre p {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
  color: #999999;
  margin-top: 2px;
}

.portfolio-art2 {
  padding: 75px 0;
}
.portfolio-art2-nav {
  padding-bottom: 15px;
}
.portfolio-art2-nav ul {
  display: flex;
  justify-content: center;
}
.portfolio-art2-nav ul li {
  list-style-type: none;
  margin-right: 30px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
.portfolio-art2-nav ul li:hover {
  color: #f39c12;
}
.portfolio-art2-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.portfolio-art2-container-minibloc {
  width: 25%;
  height: 200px;
  text-align: center;
  margin-bottom: 10px;
}
.portfolio-art2-container-minibloc-img {
  width: 100%;
  height: 75%;
}
.portfolio-art2-container-minibloc-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-art2-container-minibloc h3 {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 6px;
}
.portfolio-art2-container-minibloc p {
  margin: 0;
  font-size: 12px;
  color: #999999;
}

.twitter-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/background1-2.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
}
.twitter-head h3 {
  text-align: center;
  margin-top: 30px;
  color: white;
  width: 60%;
}
.twitter-head h3 a {
  color: #f39c12;
  text-decoration: none;
}
.twitter-head p {
  text-align: center;
  color: #999999;
  font-style: italic;
  font-size: 14px;
}

.blog-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.blog-container-article {
  width: 45%;
}
.blog-container-article:nth-child(even) {
  margin-left: 10%;
}
.blog-container-article-img {
  width: 100%;
  position: relative;
}
.blog-container-article-img > img {
  width: 100%;
}
.blog-container-article-img-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 100%;
}
.blog-container-article-img-title img {
  width: 33px;
}
.blog-container-article-img-title h4 {
  padding: 20px 22px 5px 17px;
  background-color: white;
  font-size: 17px;
  text-transform: uppercase;
  width: 70%;
}
.blog-container-article-text {
  display: flex;
  justify-content: center;
}
.blog-container-article-text .john-doe-comments {
  text-align: right;
  font-size: 15px;
  color: #999999;
  margin-right: 50px;
}
.blog-container-article-text-2 {
  flex-basis: 70%;
}
.blog-container-article-text-2 p {
  color: #999999;
}
.blog-container-article-text-2 button {
  border: solid 2px #f39c12;
  padding: 8px 25px;
  color: black;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin: 30px 0;
}
.blog-container-article-text-2 button:hover {
  background-color: #f39c12;
  border: none;
  color: white;
}

.our-clients-container {
  background: url(../img/background1-2.jpg) no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  min-height: 400px;
  align-items: center;
}
.our-clients-container-img {
  display: flex;
}
.our-clients-container-img-client:not(:last-child) {
  margin: 0 50px 0 0;
}
.our-clients-container-img-client-pic {
  width: 100%;
  height: 100%;
}
.our-clients-container h4 {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  padding: 75px 0;
}
.contact-container-formulaire {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: "Open Sans", sans-serif;
}
.contact-container-formulaire h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.contact-container-formulaire .input-container {
  margin-bottom: 10px;
  border: solid 1px #cfcfcf;
  padding: 3px 15px;
  display: flex;
  align-content: flex-start;
}
.contact-container-formulaire .input-container:focus-within {
  border: 1px solid #f39c12;
}
.contact-container-formulaire .input-container embed {
  height: 17px;
}
.contact-container-formulaire .input-container input {
  padding: 0;
  border: none;
  width: 96%;
  height: 30px;
}
.contact-container-formulaire .input-container input:focus {
  outline: none;
}
.contact-container-formulaire .input-container textarea {
  margin-bottom: 15px;
  border: none;
  font-family: "Open Sans", sans-serif;
  width: 95%;
  resize: none;
  height: 75px;
}
.contact-container-formulaire .input-container textarea:focus {
  outline: none;
}
.contact-container-formulaire button {
  border: solid 2px #f39c12;
  padding: 8px 25px;
  color: black;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  width: 20%;
  height: 40px;
}
.contact-container-formulaire button:hover {
  background-color: #f39c12;
  border: none;
  color: white;
}
.contact-container-info {
  width: 40%;
}
.contact-container-info-text h4 {
  text-transform: uppercase;
}
.contact-container-info-text p {
  margin: 20px 0;
  font-size: 14px;
}
.contact-container-info-address-loc {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.contact-container-info-address-loc-img {
  margin-right: 10px;
}
.contact-container-info-address-loc-img img {
  vertical-align: middle;
}

.map iframe {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
  position: relative;
}
footer:before {
  content: "";
  background-color: #FFFFFF;
  display: block;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skewY(-2deg);
  transform-origin: top left;
  z-index: 1;
}

.footer-img {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

section {
  position: relative;
}
section:before, section:after {
  content: "";
  background-color: #FFFFFF;
  display: block;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skewY(-2deg);
  transform-origin: top left;
  z-index: 1;
}
section:after {
  transform-origin: 100% 0;
}

/*# sourceMappingURL=style.css.map */
